<!DOCTYPE html>
<html lang="JP" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>お酒飲む人の話</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <section>
    <h1>まずお酒飲むこととは</h1>
    <p>まずお酒飲む事とは、ストレス溜まるときに飲むと一気にストレスがなくなる魔法の飲み物。 飲み過ぎに注意。飲み過ぎるとアル中(アルコール中毒)になる可能性が高いです。
    </p>
  </section>

  <section>
    <h1>気をつける事</h1>
    <ul>
      <li>酔っ払ったら記憶が無くなる人多し</li>
      <li>まずは自分で限度を決めよう</li>
      <li>特に女性の方は男の人に持ち帰られないように</li>
      <li>飲みすぎたら自己責任</li>　
      <li>飲酒運転ダメ絶対</li>

    </ul>
  </section>
  <section>
    <h1>飲んだお酒リスト</h1>
    <ul>
      <li>ほろよい(カシオレ)</li>
      <li>ほろよい(ピーチ)</li>
      <li>ほろよい(ホワイトサワー)</li>
      <li>ほろよい(コーラサワー)</li>
      <li>ほろよい(白ぶどうサワー)</li>
      <li>-195℃(さくらんぼ)</li>
      <li>カルピスサワー</li>
      <li>ミルク割り</li>
      <li>スカイブルー</li>
    </ul>
  </section>
<div id="example">
<h1>お酒アンケート</h1>

<h2>あなたは成人してますか？</h2>
  <input type="radio" id="yes" value="成人" v-model="picked">
<label for="yes">はい</label>
<br>
<input type="radio" id="no" value="未成年" v-model="picked">
<label for="no">いいえ</label>
<br>



<h2>あなたの性別は</h2>
  <input type="radio" id="男" value="男" v-model="picked1">
<label for="男">男</label>
<br>
<input type="radio" id="女" value="女" v-model="picked1">
<label for="女">女</label>
<br>


<h2>どこでお酒を買いますか？</h2>

  <input type="checkbox" id="スーパー" value="スーパー" v-model="checkedNames">
  <label for="スーパー">スーパー</label>
  <input type="checkbox" id="コンビニ" value="コンビニ" v-model="checkedNames">
  <label for="コンビニ">コンビニ</label>
  <input type="checkbox" id="酒屋" value="酒屋" v-model="checkedNames">
  <label for="酒屋">酒屋</label>
  <input type="checkbox" id="その他" value="その他" v-model="checkedNames">
  <label for="その他">その他</label>


  <h2>お酒の頻度はどれくらいですか？</h2>
  <div id='example-3'>
    <input type="checkbox" id="週に1から2回" value="週に1から2回" v-model="checkedNames">
    <label for="jack">週に1から2回</label>
    <input type="checkbox" id="週に3から4回" value="週に3から4回" v-model="checkedNames">
    <label for="john">週に3から4回</label>
    <input type="checkbox" id="　ほぼ毎日" value="ほぼ毎日" v-model="checkedNames">
    <label for="mike">ほぼ毎日</label>
    <br>

  </div>


  <span>ここでお酒を買います -> {{ checkedNames }}</span>
  <br>
  <img :src=image_src alt="">
</div>

  <script type="text/javascript">
    var vm = new Vue({
      el: '#example',
      data: {
        picked: '',
        picked1: '',
        checkedNames: []
      },
      computed: {
        // 算出 getter 関数
        image_src: function () {
          // `this` は vm インスタンスを指します
          return this.picked + "_" + this.picked1 + ".png"
        }
}
    })

  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134171009-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-134171009-1');
  </script>
</body>

</html>
